<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>REGISTRATION</h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="User Name"><br>
    <input type="text" name="First_Name" placeholder="Enter your First name"><br>
    <input type="text" name="Last_Name" placeholder="Enter your Last name"><br>
    <input type="email" name="Email" placeholder="Enter your Email ID"><br>
    <input type="password" name="Password" placeholder="Enter your Password"><br>
    <input type="password" name="Confirm_Password" placeholder="Confirm your Password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>